:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.bg-white{
  background-color: #FFFF;
  flex: 1 0 auto;
  height: 100vh;
}

.f-white{
  color: #FFFF;
}

.active-nav{
  background-color: #FEDB34;
}

.nav-container:hover{
  background-color: #27ae60;
  transform: scale(1.02);
}


.my-button{
  background-color: yellow;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-item-container:nth-child(even){
  background-color: #057350;
  min-width: 1080px
}


.f-yellow{
  color: #FEDB34;
}
.bg-yellow{
  background-color: #FEDB34;
}

.f-green{
  color: #058c61;
}

.bg-green{
  background-color: #058c61;
}

/* Colours */


/* bg images */

.side-bg{
  background-image: url('../assets//Sidebar_Base.png');
}

.bg-1{
  background-image: url('../assets//Sidebar_Base.png');
    background-size: cover;
    background-position: center;
  /* background-repeat:inherit; */
}

.bg-2{
  background-image: url('../assets//CoverPicture.png');
  background-size: cover;
  background-position: center;
}

.bg-3{
  background-image: url('../../public//images/Background1.png');
  background-size: cover;
  background-position: center;
}

.logo-bg{
  background-image: url('../assets//TitleforSideBar.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.logo-bg-officials{
  background-image: url('../assets//offical_bg.png');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}


.table-mh{
  max-height: 720px;
  /* overflow: scroll; */
  min-width: 1080px;
  flex-direction: row;
  display: flex;
}

.min-w-table{
  min-width: 1080px;
  overflow: scroll;
}

.table-mh::-webkit-scrollbar{
  display: none;
}

.pointer{
  cursor: pointer;
}

.logo-size{
  height: 100px;
  width: 100px;
}

.box {
 
  background-color: #f4f4f4;
  box-shadow: 5px 5px 10px rgba(0.5, 0, 0, 0.5);
}

.search-item{
  padding: 10px;
  cursor: pointer;
}

.icon{
  font-size: 30px;
}

.nav-item{
  font-size: 20px;
}

.nav-item:hover{
  opacity: 0.5;
}



.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

.tempate-font-officials{
  font-size: 10px;
}


.hover:hover {
  background-color: #058c61;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #FFFF
}

.btn-remove{
  border: none;
  /* background-color: transparent; */
}

.roundedEnd{
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.schedule-form {
  background-color: white;
}

.new-resident-form {
  background-color: white;
  width: 320px;
}

.data-privacy-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.data-privacy-container {
  background-color: #ffffff; 
  padding: 20px 30px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  max-width: 800px;
  width: 100%;
  overflow-y: auto;
}

.data-privacy-container h2, .data-privacy-container h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333333;
}

.data-privacy-container ul {
  list-style: disc inside;
  margin: 10px 0;
  padding-left: 20px;
}

.data-privacy-container button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #6c757d; 
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.data-privacy-container button:hover {
  background-color: #5a6268; 
}

.nda-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.nda-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 550px;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.nda-content h4 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: bold;
}

.nda-content p {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 1.25rem;
}

.nda-actions {
  display: flex;
  justify-content: flex-end;
}

.nda-actions .btn {
  margin-left: 10px;
}

.pointer {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  color: #0056b3;
}

.pointer:hover {
  text-decoration: underline;
}

.bi {
  cursor: pointer;
}

.required {
  color: red;
}



@media (max-width: 576px) {
  .new-resident-form {
    width: 90%;
    max-width: 320px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .new-resident-form {
    width: 70%;
    max-width: 400px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .new-resident-form {
    width: 60%;
    max-width: 500px;
  }
}

@media (min-width: 993px) {
  .new-resident-form {
    width: 40%;
    max-width: 600px; 
  }
}


.sidebar {
  height: 100%;
  width: 0px;
  /* width: 10%; */
  /* position: fixed; */
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; */
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
}

.mainpage{
  width: 100%;
  padding: 20px;
}

.openSidebar{
  width: 100%;
}

.closeSideBar{
  width: 0px;
}

.openSidebar-full{
  width: 30%;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .openSidebar{
    width: 100%;
    
  }
  .mainpage{
    width: 100%;
    padding: 20px;
  }
  .closeSideBar{
    width: 0px;
  }

  .sidebar{
    position: fixed;
    
  }
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  
  .openSidebar{
    width: 100%;
  }
  .mainpage{
    width: 100%;
    padding: 20px;
  }

  .closeSideBar{
    width: 0px;
  }
  .sidebar{
    position: fixed;

  }
}

@media only screen and (max-width: 1200px) {
  .openSidebar{
    width: 100%;
  }
  .mainpage{
    width: 100%;
    padding: 20px;
  }

  .closeSideBar{
    width: 0px;
  }
  .sidebar{
    position: fixed;
    
  
  
  }
}

@media only screen and (min-width: 1280px) {
  /* For desktop: */
  .openSidebar{
    width: 100%;
  }

  .closeSideBar{
    width: auto;
  }
  .menuicon{
    display: none;
  }
  .sidebar{
    width: auto;
    height: auto;
  }

}

.mybutton {
  background-color: #4CAF50; /* Green background */
  border: none; /* No border */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center-aligned text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Inline-block for layout */
  font-size: 16px; /* Font size */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition */
  border-radius: 8px; /* Rounded corners */
}

.mybutton:hover{
  background-color: yellow;
  transform: scale(1.1);
}

.primary:hover{
  /* background-color: yellow; */
  transform: scale(1.1);
}

.btn:hover{
  /* background-color: yellow; */
  transform: scale(1.1);
}

.table-container:hover {
  scrollbar-width: auto; /* Show scrollbar when hovered */
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(255, 255, 255, 0.1); /* Visible when hovered */
}

.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Visible only on hover */
}

.blotter-form {
 height: auto;
}

.custom-webcam {
  width: 100%; /* Responsive */
  max-width: 400px; /* Set a max width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: Rounded corners */
  border: 2px solid #ddd; /* Optional: Add a border */
}

.file-drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #4CAF50; /* Green border */
  border-radius: 10px;
  background-color: #f9f9f9; /* Light background */
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
}

.file-drop-zone:hover {
  background-color: #e8f5e9; /* Light green background on hover */
  border-color: #388e3c; /* Darker green border on hover */
}

.file-drop-text {
  font-size: 1rem;
  color: #555;
}

.file-drop-text .upload-link {
  color: #4CAF50; /* Green text for clickable link */
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.file-drop-zone:active {
  background-color: #dcedc8; /* Even lighter green on active */
}

.success-message {
  color: #4CAF50; /* Green text for success */
  font-size: 1rem;
  font-weight: bold;
  text-align: center; /* Align text to the center */
}

/* .blotter-form div:nth-child(2) {
  overflow-y: auto;
  border: 2px solid red;
} */